/* Nice font for button from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: Gotham,  !important;
    font-weight: 300;
}

#container {
    position: absolute;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 0px;
    background: #e42e2e00 !important;
}

#buttons {
    max-height: 75vh;
    width: 31vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
    left: 24%;
}

html,
body {
    background: #f9000000 !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    border-color: rgb(255 0 0)6);
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #0e1c1cb0;
    color: #ffffffe0;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.8rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: none;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #ffec0094;
    cursor: pointer;
    left: 24%;
    border-color: #e2631c;
}

  
.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      1000deg,
      #ff000000,
      #e3d80e87,
      #ff000000
    );
    transition: all 1000ms;
}
  
.button:hover:before {
    left: 10%;
}

.title {
    size: 200px;
    font-style: Gotham;
    font-size: 1rem;
    font-weight: 100%;
    width: 50%;
    max-width: 45%;
    height: 10%;
    color: #c57a39;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 4rem;
    overflow: hidden;
    padding: 0.45rem;
    display: flex;
    flex-direction: column;
    left: 24%;
}

.title::after {
    content:"";
    position: absolute;
    display: block;
    left: 3px;
    bottom: 0;
    width: 100%;
    height: 2.5px;
    background-color: #ffffffc4
}

div > .text {
    flex-direction: column;
    font-size: 0.75rem;
    overflow: hidden;
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: #f7eb00e3;
    font-weight: 400;
    overflow: hidden;
}
